.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem;
  background-color: #0d0b02;
}

.contact-text {
  font-family: "Albert Sans", sans-serif;
  font-size: 1.25rem;
  color: #a5a5a5;
}

.contact-text a {
  color: #fff;
  text-decoration: none;
}

.contact-text a:hover {
  text-decoration: underline;
}
